@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}






.colors {
  color: #0C356A;
  color: #F1F1F1;
}

.logo img {
  width: 80%;
  margin-bottom: 20%;
  display: flex; 
  justify-content: center;
}


.mariveles {
  text-align: center;
  margin: 6% 0%;
}

.mariveles img{
  width: 40%;
  margin-bottom: 10%;

}

body {
  background-color: #F1F1F1;
  transition: all 0.5s ease;
}

/* sidebar */
/* sidebar */
.sidebar {
  background-color: #0C356A;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 60px 30px;
  z-index: 100;
  box-shadow: 0 0 1px #F1F1F1;
  transition: all 0.5s ease;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 13px;
  color: #F1F1F1;
}

.menu_setting::before {
  content: "Menu";
}

.menu_profile::before {
  content: "Profile";
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink {
  font-size: 12px;
}

.navlink_icon {
  position: relative;
  font-size: 20px;
  min-width: 50px;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: #50648c;
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #F1F1F1;
  white-space: nowrap;
}

.nav_link:hover {
  color: #F1F1F1;
  background: #50648c;
}
.sidebar.close .nav_link:hover {
  background: black;
}

.bottom_content {
  position: fixed;
  bottom: 40px;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}


/* Home Content */

.home-content{
  position: relative;
  padding-top: 70px;
  color: #F1F1F1;
  margin-left: 370px;
  margin-right: 36px;
}

.home-content-topic{
  font-size: 30px;
  font-weight: 700;
  color: #0C356A;
  margin-bottom: 30px;
}

.topic{
  font-size: 25px;
  font-weight: 700;
  color: #0C356A;
  margin-bottom: 10px;
}

.home-content .box {
  background: #E9E9E9;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  border-radius: 20px;
  max-width: 97%;
  height: 100%;
}

.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  margin-bottom: 30px;
  gap: 40px;
}

.box {
  width: 97%;
}

.overview-boxes .box{
  align-items: center;
  width: calc(100% / 4 - 30px);
  background: #0C356A;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.overview-boxes .box-big {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: white;
  color: #0C356A;
  padding: 15px 0px 0px 0px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 100;
  margin-top: 4%;
  margin-bottom: 8%;
  
}

.home-content .box .number{
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10%;
}

.home-content .box .indicator{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 27px;
  margin-right: 5px;
}

.box .indicator i.red{
  color: red;
}

.box .indicator i.yellow{
  color: yellow;
}

.box .indicator i.green{
  color: green;
}

.indicator .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .indicator .button a{
    color: #fff;
    background: #0C356A;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .indicator .button a:hover{
    background:  #F1F1F1;
    color: #0C356A;
  }
  

  th, td {
    border-style: solid;
    border-color:#0C356A;
    width: 500px;
    height: 50px;
    text-align: center;
    
  }


.hover-effect-present {
  font-size: 30px;
  text-decoration: none;
  color: green; /* Set the default color of the icon */
  position: relative;
}

.hover-effect-present:hover {
  background-color: green; /* Change background color on hover */
}

.hover-effect-present:hover i  {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-present:hover p  {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-present i {
  vertical-align: middle;
  transition: color 0.3s; /* Add transition for smooth color change on hover */
}

.hover-effect-absent{
  font-size: 30px;
  text-decoration: none;
  color: #B80000; /* Set the default color of the icon */
  position: relative;
}

.hover-effect-absent:hover {
  background-color: #B80000;
}

.hover-effect-absent:hover i {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-absent:hover p {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-absent i {
  vertical-align: middle;
  transition: color 0.3s; /* Add transition for smooth color change on hover */
}

.hover-effect-late{
  color: #F2BE22;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  
}

.hover-effect-late:hover {
  background-color: #F2BE22;
  
}

.hover-effect-late:hover i {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-late:hover p {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-late i {
  vertical-align: middle;
  transition: color 0.3s; /* Add transition for smooth color change on hover */
}

.hover-effect-excused{
  color: #0C356A;
  font-size: 25px;
  text-decoration: none;
  position: relative;

}

.hover-effect-excused:hover {
  background-color: #0C356A;
}

.hover-effect-excused:hover i {
  color: white; /* Change text color of the icon on hover */
}

.hover-effect-excused:hover p {
  color: white; /* Change text color of the icon on hover */
}





  @media (max-width: 900px) {
    .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 550px) {
    .overview-boxes .box{
      width: 90%;
      margin-bottom: 15px;
    }
  }



