body {
    background-color: #0C356A;
    background-size: cover; 
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
    padding: 0;
}

.user-form {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 50px auto;
    color: #ebecf0;
    background-color: #E8E8E8;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 70px;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: #0C356A;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #0C356A;
}

input[type="text"] {
font-size:16px;
font-family: 'Inter', sans-serif;
color:#0C356A;
width: 100%;
height: 50px;
background-color: #d3d3d3;
border-color: #d3d3d3;
border-radius: 10px;
outline: none;
}

input[type="submit"] {
font-size:16px;
font-family: 'Inter', sans-serif;
color:#0C356A;
text-align: right;
margin-bottom:25px;
width: 100%;
height: 30px;
background-color: transparent; 
border: none; 
font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #0C356A;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#submit:hover {
color: #800000; 
}

img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
